* {
  box-sizing: border-box;
}

body{
  margin: 0;
  /* background-image: url("store_pic.jpg"); */
  background-color: #c4ebb7;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 200vh;
  font-family: 'Kosugi Maru', sans-serif;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* .about{
  display: flex;
  max-width: 300px;
  position: absolute;
  left: 1000px;
  top: 80px;
  transform: rotate(4deg);
  /* justify-content: space-between;
  background: white;
  width: 80%; */
  /* height: 100vh; */
}

.item{
  position: flex;
}
.name{
  /* background-color: pink; */
  max-width: 800px;
  transform: rotate(-4deg);
}

.made{
  /* background-color: pink; */
  max-width: 800px;
  transform: rotate(-4deg);
}

.title{
  /* background-color: pink; */
  max-width: 800px;
  transform: rotate(-4deg);
}

.hear{
  /* background-color: pink; */
  max-width: 800px;
  transform: rotate(-4deg);
}

.feed{
  /* background-color: pink; */
  max-width: 800px;
  transform: rotate(-4deg);
}
.contact{
  /* background-color: pink; */
  max-width: 700px;
  transform: rotate(-4deg);
}

.bff{
  /* background-color: pink; */
  max-width: 800px;
  transform: rotate(-4deg);
}

.munch{
  /* background-color: pink; */
  max-width: 800px;
  transform: rotate(-4deg);
}
.theo{
  /* background-color: pink; */
  max-width: 800px;
  transform: rotate(-4deg);
}

.brain{
  /* background-color: pink; */
  max-width: 800px;
  transform: rotate(-4deg);
} */
